<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>PlayTime</title>
</head>
<body>
    <div class="box">
        <h1>Sign Up, Get Started</h1>
    
        <form action="/" method="post">
        <input type="text" placeholder="Username">
        <br>
        <input type="text" placeholder="Password">
        <br>
        <button type="submit">Submit</button>
        </form>
    </div>

    <script src="app.js"></script>
</body>
</html>