<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>PlayTime</title>
</head>
<body>
    <h1>I am Text</h1>
    <h2>You are text</h2>

    <script src="app.js"></script>
</body>
</html>